@font-face {
    font-family: "JetBrains Mono NL";
    src: url( "../resources/typefaces/JetBrainsMonoNL-Regular.ttf" );
}

body {
    font-size        : 12px;
    font-family      : "JetBrains Mono NL", monospace;
    background-color : var(--catppuccin-mantle);
}

.status-bar {
    width            : 100vw;
    height           : 2rem;
    background-color : var(--catppuccin-surface-0);
    box-sizing       : border-box;
    border           : 2px solid var(--catppuccin-mantle);
    margin-bottom    : 24px;
    color            : var(--catppuccin-text);

    display : flex;
    flex    : 1;
}
.status-bar-workspaces {
    border-bottom : 4px solid var(--catppuccin-pink);
    width         : 1.6rem;
    text-align    : center;

    padding: 4px 0;
}
.status-bar-workspaces:hover {
    background-color: var(--catppuccin-surface-1);
}

.status-bar-time {
    margin        : auto 0;
    text-align    : center;
    padding-right : 10px;

    color: var(--catppuccin-pink);
}

.status-bar-left-side {
    flex-grow: 1;
}

.status-bar-right-side {
    flex-grow: 1;
    display        : flex;
    flex-direction : row-reverse;
}

.status-bar-right-item {
    margin: auto 0 auto 1rem;
}

.status-bar-button {
    border          : 0;
    background      : none;
    display         : flex;
    align-items     : center;
    justify-content : center;

    box-sizing: border-box;
    border-bottom : 4px solid var(--catppuccin-pink);
}

.status-bar-button:hover {
    background-color: var(--catppuccin-surface-1);
}

.status-bar-button-content {
}

.material-symbols-outlined {
    font-size   : 0.8rem;
    color       : var(--catppuccin-text);
}

.status-bar-workspaces,
.material-symbols-outlined,
.status-bar-time,
.window-title-bar {
    user-select : none;
}

.window {
    --window-border-color : var(--catppuccin-surface-2);
    --window-top-color    : var(--catppuccin-surface-0);
    --window-title-color  : var(--catppuccin-text);

    color : var(--catppuccin-text);

    display        : flex;
    flex-direction : column;
    flex           : 1;
}
.window:hover {
    --window-border-color : var(--catppuccin-lavender);
    --window-top-color    : var(--catppuccin-lavender);
    --window-title-color  : var(--catppuccin-crust);
}
.window-title-bar {
    width   : 100%;
    height  : 1.4rem;
    padding : 0;

    border-left-width  : 1px;
    border-right-width : 1px;
    border-top-width   : 1px;
    border-style       : solid;

    background-color : var(--window-top-color);
    border-color     : var(--window-border-color);
    color            : var(--window-title-color);

    display     : flex;
    align-items : center;
}
.window-client-area {
    width : 100%;

    padding-top:1rem;
    padding-bottom:1rem;

    background-color : var(--catppuccin-base);
    color            : var(--catppuccin-text);

    border-width: 1px;
    border-style: solid;
    border-color: var(--window-border-color);
}
.window-content {
    padding: 0 8px;
}

#window-console {
    margin : auto;
    left   : 2.5vw;
    width  : 95vw;

    margin-bottom: 32px;
}
#window-console-client-area {
    background-color: var(--catppuccin-base-transparent);
}

h1 {
    color       : var(--catppuccin-lavender);
    font-weight : bold;
}
h2 {
    color: var(--catppuccin-red);
}
h3 {
    color: var(--catppuccin-peach);
}

.prompt {
    color: var(--catppuccin-mauve);
}
.prompt-normal {
    color: var(--catppuccin-text);
}

.command {
    color: var(--catppuccin-green);
}

.console-cursor {
    color                     : var(--catppuccin-pink);
    animation-name            : blink;
    animation-duration        : 1200ms;
    animation-iteration-count : infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    40% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    90% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.argument {
    color       : var(--catppuccin-text);
    font-weight : normal;
}

.path {
    text-decoration-line: underline;
}

.description {
    padding-left : 2rem;
    max-width    : 60rem;
}

a {
    color: var(--catppuccin-lavender);
}
a:link {
    text-decoration-line: none;
}
a:visited {
    color: var(--catppuccin-blue);
}
a:hover {
    text-decoration-line: underline;
}
a:active {
    color: var(--catppuccin-mauve);
}

#bottom-spacer {
    /* background-color: red; */
    height: 20px;
}

